{% extends 'dashboard_base.html'%}

{% load static %}

{% block content %}
<div class="main-content-1">
    <div class="section__content section__content--p30">
        <div class="container-fluid">



          <div class="row">
              <div class="col-md-12">
                  <div class="overview-wrap">
                      <h2 class="title-1 about_color">About Us</h2>

                  </div>
              </div>
          </div>

          <div class="row m-t-25">
            <div class="container1 col-sm-6 col-lg-3">
            <div class="card1">
            <div class="card__image-container1">
            <img class="card__image1" src="{% static 'images/back.jpg '%}" alt="">
            </div>
            <svg class="card__svg1" viewBox="0 0 800 500">
            <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333" />
            <path class="card__line1" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent" />
            </svg>
            <div class="card__content1">
            <h1 class="card__title1">Ashilesh Sonkusle</h1>
            <br>
            <p>SCOE Student</p>
            </div>
            </div>
            </div>


          <div class="container1 col-sm-6 col-lg-3">
            <div class="card1 ">
              <div class="card__image-container1">
                <img class="card__image1" src="{% static 'images/back.jpg '%}" alt="">
              </div>
              <svg class="card__svg1" viewBox="0 0 800 500">
                <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333" />
                <path class="card__line1" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent" />
              </svg>
              <div class="card__content1">
                <h1 class="card__title1">Shrikant Kurhe</h1>
                <br>
                <p>SCOE Student</p>
              </div>
            </div>
          </div>

          <div class="container1 col-sm-6 col-lg-3">
            <div class="card1 ">
              <div class="card__image-container1">
                <img class="card__image1" src="{% static 'images/back.jpg '%}" alt="">
              </div>
              <svg class="card__svg1" viewBox="0 0 800 500">
                <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333" />
                <path class="card__line1" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent" />
              </svg>
              <div class="card__content1">
                <h1 class="card__title1">Shubham Andhale</h1>
                <br>
                <p>SCOE Student</p>
              </div>
            </div>
          </div>

          <div class="container1 col-sm-6 col-lg-3">
            <div class="card1 ">
              <div class="card__image-container1">
                <img class="card__image1" src="{% static 'images/back.jpg '%}" alt="">
              </div>
              <svg class="card__svg1" viewBox="0 0 800 500">
                <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333" />
                <path class="card__line1" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent" />
              </svg>
              <div class="card__content1">
                <h1 class="card__title1">Rishabh Kotecha</h1>
                <br>
                <p>SCOE Students</p>
              </div>
            </div>
          </div>


        </div>


    </div>
</div>
</div>

{% endblock %}
