{% extends 'dashboard_base.html' %}

{% block content %}
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">

                      <div class="row">
                          <div class="col-md-12">
                              <div class="overview-wrap">
                                  <h2 class="title-1">charts</h2>

                              </div>
                          </div>
                      </div>
                      <br>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="au-card m-b-30">
                                    <div class="au-card-inner">
                                        <h3 class="title-2 m-b-40">Yearly Rainfall</h3>
                                        <canvas id="sales-chart-1"></canvas>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="au-card m-b-30">
                                    <div class="au-card-inner">
                                        <h3 class="title-2 m-b-40">pH level</h3>
                                        <canvas id="team-chart-1"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

{% endblock %}
