{% extends 'dashboard_base.html' %}

{% block css%}
  <style>
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 15px;
  background-image: -webkit-linear-gradient(180deg, #3f5efb 0%, #fc466b 100%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 75%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

  </style>

{% endblock %}

{% block content %}

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">Dashboard</h2>

                                </div>
                            </div>
                        </div>

                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="fas fa-location-arrow"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{index.card1_head}}</h2>
                                                <span>{{index.card1_tail}}</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="fas fa-cloud"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{index.card2_head}}</h2>
                                                <span>{{index.card2_tail}}</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c3">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-calendar-note"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{index.card3_head}}</h2>
                                                <span>{{index.card3_tail}}</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c4">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-money"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{index.card4_head}}</h2>
                                                <span>{{index.card4_tail}}</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">

                        </div>
                        <p>Year : <span id = "demo"></span></p>
                        <br>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="overivew-wrap">
                              <input type="range" min="1901" max="2017" value="2017" class="slider" id="myRange">

                            </div>
                          </div>
                        </div>

                        <br>


                        <div class="row">
                            <div class="col-lg-12">
                                <div class="au-card recent-report">
                                    <div class="au-card-inner">
                                        <h3 class="title-2" id="year">rainfall (1939)</h3>
                                        <div class="chart-info">
                                            <div class="chart-info__left">
                                                <div class="chart-note" id="annual">

                                                    <span>Annual : 1299</span>
                                                </div>

                                            </div>
                                            <div class="chart-info__right">
                                                <div class="chart-statis " align = 'center'>
                                                    <span class="index incre" id="max_rain_val">12
                                                        <i class="zmdi zmdi-long-arrow-up"></i></span>

                                                    <span class="label" id="max_rain_month"></span>
                                                </div>
                                                <div class="chart-statis mr-0">
                                                    <span class="index decre" id="min_rain_val">
                                                        <i class="zmdi zmdi-long-arrow-down"></i></span>

                                                    <span class="label" id="min_rain_month"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="recent-report__chart" id="before_rainfall">
                                            <canvas id="rainfall_index"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6">
                                <div class="au-card chart-percent-card">
                                    <div class="au-card-inner">
                                        <h3 class="title-2 tm-b-5">Freshwater withdrawals by %</h3>
                                        <div class="row no-gutters">
                                            <div class="col-xl-6">
                                                <div class="chart-note-wrap">
                                                    <div class="chart-note mr-0 d-block">
                                                        <span class="dot dot--blue"></span>
                                                        <span>Thermoelectric</span>
                                                    </div>
                                                    <div class="chart-note mr-0 d-block">
                                                        <span class="dot dot--red"></span>
                                                        <span>Irrigation</span>
                                                    </div>

                                                    <div class="chart-note mr-0 d-block">
                                                        <span class="dot dot--green"></span>
                                                        <span>Industrial</span>
                                                    </div>
                                                    <div class="chart-note mr-0 d-block">
                                                        <span class="dot dot--violet"></span>
                                                        <span>Domestic</span>
                                                    </div>

                                                    <div class="chart-note mr-0 d-block">
                                                        <span class="dot dot--yellow"></span>
                                                        <span>Other</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="percent-chart">
                                                    <canvas id="pi_index"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                              <div class="au-card au-card--bg-blue au-card-top-countries m-b-30">
                                  <div class="au-card-inner">
                                      <div class="table-responsive">
                                          <table class="table table-top-countries">
                                              <tbody>
                                                  <tr>
                                                      <td> A drop of water is worth more than a sack of gold to a thirsty man.</td>

                                                  </tr>
                                                  <tr>
                                                      <td>Don't let the water run in the sink, our life's on the brink!.</td>

                                                  </tr>
                                                  <tr>
                                                      <td> Water = Life, Conservation = Future!</td>

                                                  </tr>
                                                  <tr>
                                                      <td> Save water, the world is in your hands!</td>

                                                  </tr>
                                                  <tr>
                                                      <td> When you conserve water, you conserve life!</td>

                                                  </tr>
                                                  <tr>
                                                      <td> The wars of the twenty-first century will be fought over water.</td>

                                                  </tr>
                                                  <tr>
                                                      <td>Water, water everywhere but not a drop to drink Just think about it.</td>

                                                  </tr>
                                                  <tr>
                                                      <td> You are 60% water. Save 60% of YOURSELF.</td>

                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                              </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="au-card recent-report">
                                    <div class="au-card-inner">
                                        <h3 class="title-2">Predicted rainfall 2019</h3>
                                        <div class="chart-info"></div>
                                        <div class="recent-report__chart">
                                            <canvas id="rainfall_index_pred"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
{% endblock %}

{% block js %}

<script type="text/javascript">


  var slider = document.getElementById("myRange");

  var output = document.getElementById("demo");

  output.innerHTML = slider.value;

  var first_chart = true;
  var first = 1;

  if(first_chart){
    call_ajax(slider.value);
    first_chart = false;
  }


  slider.oninput = function(){
    output.innerHTML = this.value;
  }

  slider.onchange = function(){
    console.log(myChart);

    /* This prevents from mouse hovering problem*/
    $('#rainfall_index').remove();
    $('#before_rainfall').append('<canvas id = "rainfall_index"> </canvas> ');

    call_ajax(this.value);
    console.log('finishing')
  }



function call_ajax(year){

  $.ajax({
    url : 'ajax/chart',
    data : {
      'year' : year
    },
    dataType : 'json',
    success : function(data){
      create_chart(data);
      $('#max_rain_val').html('<i class="zmdi zmdi-long-arrow-up"></i>' + parseInt(data.max_rainfall_value) +' cm');
      $('#max_rain_month').html(data.max_rainfall_month);

      $('#min_rain_val').html('<i class="zmdi zmdi-long-arrow-down"></i>' + parseInt(data.min_rainfall_value) +' cm');
      $('#min_rain_month').html(data.min_rainfall_month);

      $('#annual').html('<span>Annual : ' + parseInt(data.annual) + ' cm</span>');

      $('#year').html('Rainfall (' + year +')');
    }
  });

  console.log('ajax')
}


function create_chart(data){
  const brandProduct = 'rgba(0,181,233,0.8)'
  const brandService = 'rgba(0,173,95,0.8)'

  console.log('above chart')

  var elements = 12
  var data1 = data.x
  var arr1 = {{arr1|safe}}

  if(first == 0){
    myChart.destroy();
    console.log('inside destroy')
  }

  var ctx = document.getElementById('rainfall_index')
  ctx.height = 230;
  myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: arr1,
        datasets: [
          {
            label: 'rainfall',
            backgroundColor: brandProduct,
            borderColor: 'transparent',
            pointHoverBackgroundColor: '#fff',
            borderWidth: 0,
            data: data1

          }
        ]
      },
      options: {
        maintainAspectRatio: true,
        legend: {
          display: false
        },
        responsive: true,
        scales: {
          xAxes: [{
            gridLines: {
              drawOnChartArea: true,
              color: '#f2f2f2'
            },
            ticks: {
              fontFamily: "Poppins",
              fontSize: 12
            },
            scaleLabel: {
              display: true,
              labelString: 'Month',
              fontFamily: "Poppins"
            }
          }],
          yAxes: [{
            ticks: {
              beginAtZero: true,
              maxTicksLimit: 5,
              stepSize: 50,
              max: 450,
              fontFamily: "Poppins",
              fontSize: 12
            },
            gridLines: {
              display: true,
              color: '#f2f2f2'

            },
            scaleLabel: {
              display: true,
              labelString: 'Rainfall (cm)',
              fontFamily: "Poppins"
            }
          }]
        },
        elements: {
          point: {
            radius: 0,
            hitRadius: 10,
            hoverRadius: 4,
            hoverBorderWidth: 3
          }
        }

      }
    });


    console.log(myChart);
    first = 0;


}



var elements = 12
var data1_1 = [0, 0, 4.7, 0, 100, 182.3, 120.5, 230.4, 146.9, 100.4, 2.4, 2.7]

const brandProduct_1 = 'rgba(0,181,233,0.8)'

var ctx2 = document.getElementById("rainfall_index_pred");
if (ctx2) {
  ctx2.height = 250;
  var myChart1 = new Chart(ctx2, {
    type: 'line',
    data: {
      labels: ['January', 'February', 'March', 'April', 'May','June','July','August','September','Octomber','November','December'],
      datasets: [
        {
          label: 'Average',
          backgroundColor: '#ff7e4e',
          borderColor: 'transparent',
          pointHoverBackgroundColor: '#fff',
          borderWidth: 0,
          data: data1_1

        }
      ]
    },
    options: {
      maintainAspectRatio: true,
      legend: {
        display: false
      },
      responsive: true,
      scales: {
        xAxes: [{
          gridLines: {
            drawOnChartArea: false,
            color: '#f2f2f2'
          },
          ticks: {
            fontFamily: "Poppins",
            fontSize: 12
          },
          scaleLabel: {
            display: true,
            labelString: 'Month',
            fontFamily: "Poppins"
          }
        }],
        yAxes: [{
          ticks: {
            beginAtZero: true,
            maxTicksLimit: 5,
            stepSize: 50,
            max: 350,
            fontFamily: "Poppins",
            fontSize: 12,

          },
          gridLines: {
            display: false,
            color: '#f2f2f2'

          },
          scaleLabel: {
            display: true,
            labelString: 'Rainfall (cm)',
            fontFamily: "Poppins"
          }
        }]
      },
      elements: {
        point: {
          radius: 0,
          hitRadius: 10,
          hoverRadius: 4,
          hoverBorderWidth: 3
        }
      }


    }
  });
}

var ctx = document.getElementById("pi_index");
if (ctx) {
  ctx.height = 280;
  var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      datasets: [
        {
          label: "My First dataset",
          data: [41.5, 37, 5, 8.5, 8],
          backgroundColor: [
            '#00b5e9',
            '#fa4251',
            '#00ad5f',
            '#8E44AD',
            '#F1C40F'
          ],
          hoverBackgroundColor: [
            '#00b5e9',
            '#fa4251',
            '#00ad5f',
            '#8E44AD',
            '#F1C40F'
          ],
          borderWidth: [
            0, 0, 0, 0, 0
          ],
          hoverBorderColor: [
            'transparent',
            'transparent',
            'transparent',
            'transparent',
            'transparent'
          ]
        }
      ],
      labels: [
        'Thermoelectric',
        'Irrigation',
        'Industrial',
        'Domestic',
        'Other'
      ]
    },
    options: {
      maintainAspectRatio: false,
      responsive: true,
      cutoutPercentage: 55,
      animation: {
        animateScale: true,
        animateRotate: true
      },
      legend: {
        display: false
      },
      tooltips: {
        titleFontFamily: "Poppins",
        xPadding: 15,
        yPadding: 10,
        caretPadding: 0,
        bodyFontSize: 16
      }
    }
  });
}


</script>
{% endblock %}
