

{% extends 'dashboard_base.html'%}

{% block content %}
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="overview-wrap">
                                  <h2 class="title-1">Maps</h2>

                              </div>
                          </div>
                      </div>
                      <br>
                        <div class="row">
                            <div class="col-md-7">
                                <!-- MAP DATA-->
                                <div class="map-data m-b-40">
                                    <h3 class="title-3 m-b-30" id = "map_head">
                                        <i class="zmdi zmdi-map"></i></h3>
                                    <div class="map-wrap m-t-45 m-b-20">
                                        <div id="india" style="height: 720px;"></div>
                                    </div>
                                </div>
                                <!-- END MAP DATA-->
                            </div>
                            <div class="col-lg-5">
                                <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                                  <div class="au-card-inner">
                                      <div class="table-responsive">
                                          <table class="table table-top-countries">
                                              <tbody>
                                                  <tr>
                                                      <td>Andaman and Nicobar Islands</td>
                                                      <td>237.5</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Arunachal Pradesh</td>
                                                      <td>228.7</td>
                                                  </tr>




                                                  <tr>
                                                      <td>Orissa</td>


                                                      <td>286.5</td>
                                                  </tr>
                                                  <tr>
                                                      <td>jharkhand</td>


                                                      <td>225.3</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Bihar</td>


                                                      <td>270.8</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Uttar Pradesh</td>


                                                      <td>258.7</td>
                                                  </tr>

                                                  <tr>
                                                      <td>Haryana Delhi and Chandigarh</td>


                                                      <td>270.3</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Punjab</td>


                                                      <td>300.7</td>
                                                  </tr>

                                                  <tr>
                                                      <td>Jammu and Kashmir</td>


                                                      <td>248.7</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Rajasthan</td>


                                                      <td>185.4</td>
                                                  </tr>

                                                  <tr>
                                                      <td>Gujrat</td>


                                                      <td>236.7</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Goa</td>


                                                      <td>200.7</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Maharashtra</td>


                                                      <td>270.7</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Chattisgarh</td>


                                                      <td>213.4</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Telangana</td>


                                                      <td>248.9</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Tamil Nadu</td>


                                                      <td>228.7</td>
                                                  </tr>

                                                  <tr>
                                                      <td>Kerla</td>


                                                      <td>299.1</td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

{% endblock %}
