{% extends 'dashboard_base.html' %}

{% block content %}

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="overview-wrap">
                                  <h2 class="title-1">Tables</h2>

                              </div>
                          </div>
                      </div>
                      <br>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive table--no-card m-b-30">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                <th>State</th>

                                                <th class="text-right">Minimum</th>
                                                <th class="text-right">Maximum</th>
                                                <th class="text-right">Average</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Andaman and Nicobar Islands</td>

                                                <td class="text-right">117</td>
                                                <td class="text-right">381.5</td>
                                                <td class="text-right">237.5</td>
                                            </tr>

                                              <tr>
                                                  <td>Arunachal Pradesh</td>

                                                  <td class="text-right">50.1</td>
                                                  <td class="text-right">395.7</td>
                                                  <td class="text-right">228.7</td>
                                              </tr>
                                              <tr>
                                                  <td>Assam and Meghalaya</td>

                                                  <td class="text-right">20.4</td>
                                                  <td class="text-right">435.5</td>
                                                  <td class="text-right">225.9</td>
                                              </tr>
                                              <tr>
                                                  <td>Naga Mani Mizo Tripura</td>

                                                  <td class="text-right">30.8</td>
                                                  <td class="text-right">335.7</td>
                                                  <td class="text-right">228.1</td>
                                              </tr>
                                              <tr>
                                                  <td>Sub Himalayan West Bengal and Sikkim</td>

                                                  <td class="text-right">40.1</td>
                                                  <td class="text-right">355.8</td>
                                                  <td class="text-right">276.7</td>
                                              </tr>
                                              <tr>
                                                  <td>Gangetic West Bengal</td>

                                                  <td class="text-right">30.6</td>
                                                  <td class="text-right">381.4</td>
                                                  <td class="text-right">225.4</td>
                                              </tr>
                                              <tr>
                                                  <td>Orissa</td>

                                                  <td class="text-right">60.4</td>
                                                  <td class="text-right">409.7</td>
                                                  <td class="text-right">286.5</td>
                                              </tr>
                                              <tr>
                                                  <td>jharkhand</td>

                                                  <td class="text-right">40.5</td>
                                                  <td class="text-right">356.2</td>
                                                  <td class="text-right">225.3</td>
                                              </tr>
                                              <tr>
                                                  <td>Bihar</td>

                                                  <td class="text-right">60.6</td>
                                                  <td class="text-right">370.1</td>
                                                  <td class="text-right">270.8</td>
                                              </tr>
                                              <tr>
                                                  <td>Uttar Pradesh</td>

                                                  <td class="text-right">52.1</td>
                                                  <td class="text-right">385.7</td>
                                                  <td class="text-right">258.7</td>
                                              </tr>
                                              <tr>
                                                  <td>Uttarakhand</td>

                                                  <td class="text-right">70.1</td>
                                                  <td class="text-right">420.4</td>
                                                  <td class="text-right">293.7</td>
                                              </tr>
                                              <tr>
                                                  <td>Haryana Delhi and Chandigarh</td>

                                                  <td class="text-right">55.1</td>
                                                  <td class="text-right">385.2</td>
                                                  <td class="text-right">270.3</td>
                                              </tr>
                                              <tr>
                                                  <td>Punjab</td>

                                                  <td class="text-right">61.1</td>
                                                  <td class="text-right">430.7</td>
                                                  <td class="text-right">300.7</td>
                                              </tr>
                                              <tr>
                                                  <td>Himachal Pradesh</td>

                                                  <td class="text-right">40.2</td>
                                                  <td class="text-right">345.7</td>
                                                  <td class="text-right">245.7</td>
                                              </tr>
                                              <tr>
                                                  <td>Jammu and Kashmir</td>

                                                  <td class="text-right">40.1</td>
                                                  <td class="text-right">365.7</td>
                                                  <td class="text-right">248.7</td>
                                              </tr>
                                              <tr>
                                                  <td>Rajasthan</td>

                                                  <td class="text-right">20.8</td>
                                                  <td class="text-right">245.7</td>
                                                  <td class="text-right">185.4</td>
                                              </tr>
                                              <tr>
                                                  <td>Madhya Pradesh</td>

                                                  <td class="text-right">40.1</td>
                                                  <td class="text-right">358.7</td>
                                                  <td class="text-right">256.7</td>
                                              </tr>
                                              <tr>
                                                  <td>Gujrat</td>

                                                  <td class="text-right">60.1</td>
                                                  <td class="text-right">379.3</td>
                                                  <td class="text-right">236.7</td>
                                              </tr>
                                              <tr>
                                                  <td>Goa</td>

                                                  <td class="text-right">44.6</td>
                                                  <td class="text-right">359.7</td>
                                                  <td class="text-right">200.7</td>
                                              </tr>
                                              <tr>
                                                  <td>Maharashtra</td>

                                                  <td class="text-right">60.1</td>
                                                  <td class="text-right">400.9</td>
                                                  <td class="text-right">270.7</td>
                                              </tr>
                                              <tr>
                                                  <td>Chattisgarh</td>

                                                  <td class="text-right">30.1</td>
                                                  <td class="text-right">310.5</td>
                                                  <td class="text-right">213.4</td>
                                              </tr>
                                              <tr>
                                                  <td>Telangana</td>

                                                  <td class="text-right">45.1</td>
                                                  <td class="text-right">313.5</td>
                                                  <td class="text-right">248.9</td>
                                              </tr>
                                              <tr>
                                                  <td>Tamil Nadu</td>

                                                  <td class="text-right">53.9</td>
                                                  <td class="text-right">345.7</td>
                                                  <td class="text-right">228.7</td>
                                              </tr>
                                              <tr>
                                                  <td>Karnataka</td>

                                                  <td class="text-right">59</td>
                                                  <td class="text-right">380.3</td>
                                                  <td class="text-right">240.6</td>
                                              </tr>
                                              <tr>
                                                  <td>Kerla</td>

                                                  <td class="text-right">60.1</td>
                                                  <td class="text-right">430.7</td>
                                                  <td class="text-right">299.1</td>
                                              </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

{% endblock %}
