{% extends 'dashboard_base.html' %}

{% block content %}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="overview-wrap">
                      <h2 class="title-1">Vision</h2>

                  </div>
              </div>
          </div>
          <br>

          Optimal sustainable development, maintenance of quality and efficient use of water resources
          to match with the growing demands on this precious natural resource of the country.

          <br>
          <br>
          <br>

          <div class="row">
              <div class="col-md-12">
                  <div class="overview-wrap">
                      <h2 class="title-1">Mission</h2>

                  </div>
              </div>
          </div>
          <br>
          India is endowed with a rich and vast diversity of natural resources, water being one of them. Its development
          and management plays a vital role in agriculture production. Integrated water management is vital for poverty reduction,
          environmental sustenance and sustainable economic development. National Water Policy envisages that the water resources
          of the country should be developed and managed in an integrated manner.

          <br>
          <br>
          <br>

          <div class="row">
              <div class="col-md-12">
                  <div class="overview-wrap">
                      <h2 class="title-1">Function</h2>

                  </div>
              </div>
          </div>
          <br>
          Overall planning, policy formulation, coordination and guidance in the water resources sector.
          <br><br>
          Technical guidance, scrutiny, clearance and monitoring of the irrigation, flood control and multi-purpose projects (major/medium).
          <br><br>
          Overall policy formulation, planning and guidance in respect of Minor Irrigation and Command Area Development, administration
          and monitoring of the Centrally Sponsored Schemes and promotion of Participatory Irrigation Management.
          <br><br>
          General infrastructural, technical and research support for development.
          <br><br>
          Providing special Central Financial Assistance for specific projects and assistance in obtaining External Finance from World Bank and other agencies.
          <br><br>
          Overall planning for the development of Ground Water Resources, establishment of utilizable resources and formulation of
          policies for exploitation, overseeing of and support to State level activities in ground water development.
          <br><br>
          Formulation of national water development perspective and the determination of the water balance of different basins/sub-basins
          for consideration of possibilities of inter-basin transfers.
          <br><br>
          Coordination, mediation and facilitation in regard to the resolution of differences or disputes relating to Inter-State Rivers
          and in some instances overseeing of implementation of inter-state projects.
          <br><br>
          Operation of the central network for flood forecasting and warning on inter-state rivers, provision of central assistance for some
          State Schemes in special cases and preparation of flood control master plans for rivers Ganga and Brahmaputra.



        </div>
    </div>
</div>

{% endblock %}
